<?xml version="1.0" encoding="utf-8"?><!-- Copyright 2014 A.C.R. Development -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="acr.browser.lightning.BrowserApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:taskAffinity="com.altdiscord.app.AffinityDefault"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="acr.browser.lightning.DefaultBrowserActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:colorMode="wideColorGamut"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.LightTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="acr.browser.lightning.IncognitoBrowserActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:colorMode="wideColorGamut"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:launchMode="singleInstance"
            android:parentActivityName="acr.browser.lightning.DefaultBrowserActivity"
            android:process=":incognito"
            android:taskAffinity="com.altdiscord.app.AffinityIncognito"
            android:theme="@style/Theme.DarkTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="acr.browser.lightning.settings.activity.SettingsActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName="acr.browser.lightning.DefaultBrowserActivity"
            android:theme="@style/Theme.LightTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>
